@model List<ITlab3.Models.FriendModel>

@{
    ViewBag.Title = "GetAllFriends";
}

<table style="width:100%; border:solid; margin-top:10px;">
    <tr>
        <th>ИД</th>
        <th>Име</th>
        <th>Место на живеење</th>
        <th>  </th>
    </tr>


    @{
        int i = 0;
        foreach (var friend in Model)
        {
        <tr>

                <td>@friend.indeks</td>
                <td>@friend.ime</td>
                <td>@friend.mestonaziveenje</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = i }) |
                    @Html.ActionLink("Delete", "Delete", new { id = i }) |
                    @Html.ActionLink("AddNewFriend", "AddNewFriend", new { id = i })
                </td> 
        </tr>
                    
            i++;
        }

    }
    </table>

